/*
	
*/
*{
	margin: 0 0;
	padding: 0 0;
	font-family: Arial, Helvetica, sans-serif;
}
.container{
	/*border:1px solid red;*/
	width: 80%;
	margin: 0 auto;
	padding: 1%;

}

a{
	color: #ff6b81;
	text-decoration: none;
}

a:hover{
	color: #ff4747;
}

.btn{
	padding: 1%;
	border:none;
	font-size: 1rem;
	border-radius: 5px;
}

.btn-primary{
	background-color: #ff6b81;
	color: white;
	cursor: pointer;
}
.btn-primary:hover{
	color: white;
	background-color: #ff4747
}

.logo{
	float: left;
}
h2{
	color: #2f3542;
	font-size: 2rem;
}

.img-responsive{
	width: 100%;
	cursor: pointer;
}
.img-responsive:hover{
	opacity: 0.8
}
.img-curve{
	border-radius: 15px;
}

.float-container{
	position: relative;

}
h3{
	font-size: 1.5rem;
}
.float-text{
	position: absolute;
	bottom:270px;
	left: 40%
}
.text-white{
	color: white;

}


/* css for navbar */

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.menu ul{
	list-style-type: none;
}

.menu ul li{
	display: inline;
	padding: 1%;
	font-weight:bold;
}


/* css for food search section */

.food-search{
	/*background-color: lightblue;*/
	padding: 6% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -40px
}

.food-search input[type="search"]{
	width: 50%;
	padding: 1%;
	font-size: 1rem;
	border:none;
	border-radius: 5px;
}

/* css for categories */
.categories{
	padding: 4% 0;
	margin-top: -100px

}

.box-3{
	
	width: 28%;
	float: left;
	margin:2%;

}

.clearfix{
	margin-top: 10px
}


/* css for food menu */
.food-menu{
	
	padding: 3% 0;
}
.food-menu-box{
	border:1px solid black;
	width: 45%;
	margin: 1%;
	float: left;
	padding: 1%;
	height: 400px;
	background-color: white;
	border-radius: 15px;
}

/*css for social media */
.social ul{
	list-style-type: none;
}
.social ul li{
	display: inline;
	padding: 1%
}